<h1>Article</h1>
<h2>Title:</h2>
<p><strong><%= @article.title %></strong></p>
<h2>Text:</h2>
<p><strong><%= @article.body %></strong></p>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: "articles/comment", collection: @article.comments %>
<%= render partial: 'comments/form' %>
<%= link_to "Back to articles", articles_path %>
<%= link_to "delete", article_path(@article), method: :delete, data:{confirm:"Really Delete?"} %>
<%= link_to "edit", edit_article_path(@article)%>

